*{
    color: rgb(6, 46, 46);
    font-family: 'Bakbak One', cursive;
    background-color: whitesmoke
}
header{
    background-color:rgb(177, 53, 53);
    position: sticky;
    top: 0px;
    left: 1px;
}
.btn{
border-radius: 0px;
display: inline-block;
padding: 15px 1px;
text-decoration: none;
text-shadow: 0 1px 0 rgb(255,255,255)
border: 0;
}
.btn-red{
    color:black;
    background-color:rgb(177, 53, 53);
 }
.fas{
    background-color: rgb(177, 53, 53);
    position: relative;
    left: 15px;
}
.Link1{
    text-decoration: none;
    position: relative;  
    left: 805px;
}
.Link2{
    text-decoration: none;
    position: relative;
    left: 845px;
}
.Link3{
    text-decoration: none;
    position: relative;
    left: 1165px;
}
.Link3:Hover{
    background-color: rgb(128, 255, 0); 
}
.ButtonP{
    text-decoration: none;
    position: relative;
    left: -30px;
}
------------------------------------------------------------------------------------------------------------------------------
.h11{
    height: 200px;
    width: 200px;
    display: inline;
}