*{
color: rgb(6, 46, 46);
font-family: 'Bakbak One', cursive;
    
}
header{
background-color:rgb(177, 53, 53);
position: sticky;
top: 0px;
left: 1px;    
}
.btn{
border-radius: 0px;
display: inline-block;
padding: 15px 1px;
text-decoration: none;
text-shadow: 0 1px 0 rgb(255,255,255) white
}
.btn-red{
color:black;
background-color:rgb(177, 53, 53);
 }
.fas{
background-color: rgb(177, 53, 53);
position: relative;
left: 15px;
font-size: 23px;
}
.Link1{
    text-decoration: none;
    position: relative;  
    left: 735px;
    font-size: 20px;
    padding: 12px;
}
.Link1:Hover{
    background-color: rgb(180, 67, 67);
}
.Link2{
    text-decoration: none;
    position: relative;
    left: 730px;
    font-size: 20px;
    padding: 12px;
}
.Link2:Hover{
    background-color: rgb(180, 67, 67);
}
.Link3{
    text-decoration: none;
    position: relative;
    left: 1155px;
    font-size: 20px;
    padding: 12px;
}
.Link3:Hover{
    background-color: rgb(180, 67, 67);
}
.ButtonP{
    text-decoration: none;
    position: relative;
    left: -49px;
    font-size: 20px;
}
.T1tle{
    position: relative;
    top: -55px;
    left: 240px;
    display: inline;
}
.T1tle-home{
    color: rgb(5, 5, 5);
    font-size: 30px;
    text-shadow: 0.5px 0px 0px rgb(148, 148, 148);
    position: relative;
}
.pag{
    height:560px;
    background-color: rgb(241, 240, 240);
}
#main{
    background-color: rgb(218, 216, 216);
    height: 2050px;
}
#principal{
    height: 600px;
    background-color: rgb(233, 232, 232)
}
#img{
height: 316px;;
width: 521px;
position: relative;
top: 100px;
left: 530px;    
}
.h5{
font-family: Avenir Next;
font-size: 15px;
color: rgb(83, 83, 83);
width: 430px;
position: relative;
top: -50px;
left: 240px;
}
.divs{
    background-color: rgb(199, 197, 197);
    padding: 50px;
    width: 190px;
    height: 280px;  
    
}
.divs{
    display: inline-block;
    margin: 8px;
    margin-top: 100px;
    padding: auto;
    border: 3px solid rgb(180, 67, 67);
}
.div{
    height: 500px;
}
.introver{
    display: flex;
    justify-content: center;
}
.introver{
    position: relative;
    top: 25px;

}
.introver-home{
    color: rgb(101, 100, 102);
    margin-top: 10px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
}
.photos{
    height: 20px;
    width: 20px;
    padding: 10px;
    background-color: rgb(165, 158, 158);
    border-radius: 10px;
}
.photos{
    position: relative;
    top: -20px;
    left: -20px;
}
.linea{
    background-color: black;
    border-top: 3px solid rgb(180, 67, 67);
     width: 290px;
     position: relative; left: -50px; right: -30px;
}
.tprimary{
    position: relative;
    top: -80px;
    left: 60px;
    font-family:  sans-serif;
}
.tsecundary{
    position: relative;
    top: -40px;
    left: -20px;
    color: rgb(58, 53, 53);
    font-family:  sans-serif;
    
}
#part3{
    background-color: rgb(206, 206, 206);
    height: 805px;
}
.word1{
 width: 350px;
 position: relative;
 top: -100px;
 left: 200px;
}
.word-one{
    height: 130px;
    width: 130px;
    padding-left: 50px;
    padding-top: 80px;
}
.word2{
    position: relative;
    top: -340px;
    left: 850px;
    width: 350px;
}
.word-two{
    height: 150px;
    width: 105px;
    position: relative;
    top: -230px;
    left: 710px;
}
.word3{
    position: relative;
    top: -360px;
    left: 200px;
    width: 400px;
}
.word-three{
    height: 130px;
    width: 220px;
    position: relative;
    top: -250px;
    left: 10px;
}
.word4{
    position: relative;
    top: -580px;
    left: 850px;
    width: 350px;
}
.word-four{
    height: 115px;
    width: 135px;
    position: relative;
    top: -480px;
    left: 690px;
}
.word5{
    position: relative;
    top: -460px;
    left: 610px; 
    width: 300px;
}
.word-five{
    height: 155px;
    width: 195px;
    position: relative;
    top: -350px;
    left: 400px;
}
.dates{
    position: relative;
     left: -40px; 
     top: -30px;
}
#imd{
    height: 1px;
    width: 1px;
}
.subtitle{
    margin-top: -100px;
}
.ulogo{
    height: 50px;
    width: 50px;
    padding-top: 80px;
    padding-left: 70px;
}
#footer-1{
    color: white;
    height: 222px;
    background-color: rgb(0, 0, 0);
}
.titlenew{
    position: relative;
    top: -115px;
    left: -90px;
    display: flex;
    justify-content: flex-end;
} 
.icon{
    color: antiquewhite;
    text-decoration: none;
}
.titles{
    position: relative;
    top: -7px;
}
#icons{
    padding-left: 1100px;
    position: relative;
    top: -100px;
}
