*{
    color: rgb(6, 46, 46);
    font-family: 'Bakbak One', cursive;
    
}
header{
    background-color:rgb(177, 53, 53);
    position: sticky;
    top: 0px;
    left: 1px;
    
}
.btn{
border-radius: 0px;
display: inline-block;
padding: 15px 1px;
text-decoration: none;
text-shadow: 0 1px 0 rgb(255,255,255) white
}
.btn-red{
    color:black;
    background-color:rgb(177, 53, 53);
 }
.fas{
    background-color: rgb(177, 53, 53);
    position: relative;
    left: 15px;
    font-size: 23px;
}
.Link1{
    text-decoration: none;
    position: relative;  
    left: 735px;
    font-size: 20px;
    padding: 12px;
}
.Link1:Hover{
    background-color: rgb(180, 67, 67);
}
.Link2{
    text-decoration: none;
    position: relative;
    left: 730px;
    font-size: 20px;
    padding: 12px;
}
.Link2:Hover{
    background-color: rgb(180, 67, 67);
}
.Link3{
    text-decoration: none;
    position: relative;
    left: 1155px;
    font-size: 20px;
    padding: 12px;
}
.Link3:Hover{
    background-color: rgb(180, 67, 67);
}
.ButtonP{
    text-decoration: none;
    position: relative;
    left: -49px;
    font-size: 20px;
}
.T1tle{
    position: relative;
    top: -90px;
    left: 240px;
    display: inline;
}
.T1tle-home{
    color: rgb(5, 5, 5);
    font-size: 30px;
    text-shadow: 1px 0px 0px rgb(148, 148, 148);
    position: relative;
    top: px;
}
.pag{
    height:560px;
    background-color: rgb(241, 240, 240);
}
#main{
    background-color: rgb(206, 206, 206);
    height: 5600px;
}
#principal{
    height: 600px;
    background-color: rgb(233, 232, 232)
}
#img{
height: 316px;;
width: 521px;
position: relative;
top: 100px;
left: 390px;    
}
#footer-1{
    color: white;
    height: 120px;
    background-color: black;
}
.h5{
    font-family: Avenir Next;
    font-size: 15px;
    color: rgb(83, 83, 83);
    width: 350px;
}
.info1{
    color: rgb(255, 30, 0);
    background-color: rgb(214, 79, 0);
    display: inline;
    padding: 180px 75px;
    margin:  20px;
    position: relative;
    top: 360px;
    left: 40px;
}
.info2{
    color: rgb(255, 30, 0);
    background-color: rgb(18, 214, 0);
    display: inline;
    padding: 180px 75px;
    position: relative;
    top: 360px;
    left: 368px;
    
}
.info3{
    color: rgb(255, 30, 0);
    background-color: rgb(67, 233, 233);
    display: inline;
    padding: 180px 75px;
    margin:  20px;
    position: relative;
    top: 360px;
    left: 660px;
}
.info4{
    color: rgb(255, 30, 0);
    background-color: rgb(124, 0, 226);
    text-align: end;
    display: inline;
    padding: 180px 75px;
    margin:  20px;
    position: relative;
    top: 360px;
    left: 965px;
}